.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
.claude/**
node_modules/.package-lock.json
node_modules/sharp/**
node_modules/@img/**
node_modules/detect-libc/**
node_modules/semver/**
